* {
  margin: 0;
  padding: 0;
}

html,
body {
  color: #fff;
  font-family: 'OpenSans-Regular';
  font-size: 16px;
  line-height: 18px;
}

body.home .main, body.search .main {
  background-color: #fff;
  margin-top: -335px;
  padding-top: 335px;
}

.no-left-padding {
  padding-left: 0;
}

.dashboard {
  background: #fff;
}

.floated-sidebar {
  float: right;
}
/*.search {*/
  /*font-size: 18px;*/
  /*font-weight: bold;*/
  /*padding-bottom: 45px;*/
  /*padding-top: 25px;*/
  /*text-decoration: underline;*/
/*}*/
/*.search a {*/
  /*color: #fff;*/
/*}*/
/*.search a:hover, .search a:active {*/
  /*color: #fff;*/
  /*opacity: 0.7;*/
  /*transition: all 0.1s ease;*/
/*}*/

.main-block .main-title {
  color: #fff;
  font-family: 'FjallaOne-Regular';
  font-size: 50px;
  font-weight: bold;
  letter-spacing: 5px;
  margin-bottom: 0;
}
.main-block .main-text {
  color: #fff;
  font-family: 'OpenSans-Regular';
  font-size: 24px;
  opacity: 0.5;
}


.news {
  border-top: 2px solid;
  top: 585px;
  padding-bottom: 80px;
  padding-top: 25px;
  position: absolute;
}
.news .news-photo img {
  min-height: 80px;
  padding-right: 10px;
  width: 130px;
}
.news .news-name {
  font-family: 'FjallaOne-Regular';
  margin-top: -5px;
}
.news .news-name .news-surname {
  color: #88B404;
}
.news .news-name a {
  color: #fff;
  font-size: 15px;
  letter-spacing: 2px;
}
.news .news-name a:hover {
  color: #B1B5BE;
}
.news .news-name a:hover > .news-surname {
  color: #B1B5BE;
}
.news .news-text {
  color: #fff;
  font-size: 17px;
  opacity: 0.95;
}

.announce .package {
  font-family: 'FjallaOne-Regular';
  font-size: 20px;
  letter-spacing: 2px;
  margin: 45px 130px 145px 0;
}

.new-background {
  background: #F7F7F7;
}

.no-padding {
  padding: 0;
}

.index-header-font a {
  color: #BCBCBC;
}
.index-header-font a:hover, .index-header-font a:active {
  color: #BCBCBC;
}
.index-header-font div.button {
  color: #BCBCBC;
}

.menu-block {
  padding: 20px 0;
}

.masonry-entry, .related-article {
  border-radius: 4px;
  box-shadow: 0 1px 1px 1px #BCBCBC;
  float: left;
  margin: 15px;
  width: 46%;
}
.masonry-entry img, .related-article img {
  border-radius: 4px 4px 0 0;
  height: 200px;
  position: relative;
  width: 100%;
}
.masonry-entry .mark, .related-article .mark {
  background-color: #1E1E1E;
  color: #fff;
  font-size: 15px;
  padding: 10px 15px 10px 15px;
  position: absolute;
  top: 50px;
  width: 100px;
  left: 0;
}
.masonry-entry .read, .related-article .read {
  font-size: 14px;
  font-weight: bold;
  padding: 0 30px 0 30px;
}
.masonry-entry .read a, .related-article .read a {
  color: #696969;
}

.masonry-entry p, .related-article p {
  color: #848484;
  font-size: 16px;
  padding: 10px 30px 0 30px;
  word-break: break-word;
}

.masonry-entry img:hover, .related-article img:hover {
  box-shadow: 0 0 10px black;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

.masonry-entry h4, .related-article h4 {
  color: #131313;
  font-family: "OpenSans-Regular";
  font-size: 18px;
  font-weight: bold;
  padding: 0 20px 0 30px;
}

.row {
  max-width: 70rem;
}

/*************Footer******************/
footer {
  background-color: #1E1E1E;
}
footer .fa {
  padding: 0 5px 0 0;
}
footer .rights {
  color: #696969;
  font-size: 15px;
  font-weight: bold;
  padding-top: 30px;
}
footer .links li {
  font-size: 15px;
  font-weight: bold;
  padding: 30px 10px 20px 10px;
}
footer .links li a {
  color: #696969;
}
footer .links li a:hover, footer .links li a:active {
  color: #fff;
  transition: all 0.1s ease;
}
footer .icons li {
  font-size: 14px;
  font-weight: bold;
  padding: 27px 4px 20px 4px;
}
footer .icons li a {
  color: #1E1E1E;
  font-size: 16px;
}
footer .icons li a:hover, footer .icons li a:active {
  color: #fff;
  transition: all 0.1s ease;
}
footer .icons li .fa.fa-circle {
  color: #696969;
}

/*****************************************SIDEBAR***********************************************/

li.widget {
  padding-bottom: 20px;
  border-bottom: 1px dashed #DADADA;
  margin-bottom: 30px;
}

li.widget.widget_search, li.widget:last-child {
  padding-bottom: 0;
  border-bottom: none;
  margin-bottom: 0;
}

li.widget.widget_execphp {
  border-bottom: none;
}
.widget input, .widget select {
  margin: 20px 0;
}

.widget .screen-reader-text {
  display: none;
}

.widget_categories select, .widget_taxonomy_dropdown_widget select, .widget_archive select {
  border-radius: 3px;
  height: 50px;
  text-transform: uppercase;
  color: #848484;
  font-weight: bold;
  background-color: #fff;
}

.side-ads ins {
  float: left;
  margin-right: 4px !important;
}
/****************SEARCH***************/

.widgettitle {
  margin-top: 40px;
}

.widget .widgettitle, .widget .widgettitle label {
  font-size: 1.8rem;
  text-transform: uppercase;
  font-family: 'FjallaOne-Regular';
  color: #6B6B6B;
  margin-top: 15px;
}

.container-4 {
  overflow: hidden;
  width: 100%;
  vertical-align: middle;
  white-space: nowrap;
}

.container-4 input#search{
  width: 300px;
  height: 50px;
  background: #fff;
  font-size: 12pt;
  float: left;
  color: #000;
  padding-left: 15px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  box-shadow: none;
}

.container-4 button.icon{
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomright: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;

  border: 1px solid #ccc;
  border-left: none;
  background: #fff;
  height: 50px;
  width: 50px;
  color: #D2D2D2;
  opacity: 1;
  font-size: 10pt;
  margin-left: -50px;
  margin-bottom: 20px;
  margin-top: 20px;

  -webkit-transition: all .55s ease;
  -moz-transition: all .55s ease;
  -ms-transition: all .55s ease;
  -o-transition: all .55s ease;
  transition: all .55s ease;
}

.container-4 input#search::-webkit-input-placeholder {
  font-family: 'FjallaOne-Regular';
  color: #848484;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.container-4 input#search:-moz-placeholder { /* Firefox 18- */
  font-family: 'FjallaOne-Regular';
  color: #848484;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.container-4 input#search::-moz-placeholder {  /* Firefox 19+ */
  font-family: 'FjallaOne-Regular';
  color: #848484;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.container-4 input#search:-ms-input-placeholder {
  font-family: 'FjallaOne-Regular';
  color: #848484;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.container-4:active button.icon, .container-4:focus button.icon {
  outline: none;
  border-color: #999;
}

.container-4 input#search:focus + .icon {
  border-color: #999;

}

.container-4:hover button.icon:hover{
  background: white;
}

.search-submit.icon i{
  font-size: 1.4rem;
}

.alm-btn-wrap {
  text-align: center;
}

.alm-btn-wrap #load-more {
  color: #000;
  border: 2px solid #000;
  border-radius: 5px;
  padding: 10px 30px;
  transition: all 0.1s linear 0s;
  display: inline-block;
  background: #fff;
  margin: 5vw;
}

#load-more:hover {
  transform: scale(1.05);
}


/******************Inner Header**************************/
.header-inner {
  margin-bottom: 50px;
}
.background-img {
  width: 100%;
  height: 365px;
  background-size: cover;
  background-position: center center;
}

.header-wrapper {
  background-color: rgba(0, 0, 0, 0.8);
}
/*****************************************AddThis*****************************************/
.addthis_toolbox a span, a.addthis_counter.addthis_bubble_style {
  display: none !important;
}
.addthis_toolbox a {
  color: #fff;
  font-family: FontAwesome;
  transition: color 0.2s;
}

.addthis_toolbox a.addthis_button_facebook:before {
  content: "\f09a";
}
.addthis_toolbox a.addthis_button_facebook:hover {
  color: #305891;
}

.addthis_toolbox a.addthis_button_twitter:before {
  content: "\f099";
}

.addthis_toolbox a.addthis_button_twitter:hover {
  color: #2CA8D2;
}

.addthis_toolbox a.addthis_button_google_plusone_share:before {
  content: "\f0d5";
}

.addthis_toolbox a.addthis_button_google_plusone_share:hover {
  color: #CE4D39;
}

.addthis_toolbox a.addthis_button_pinterest_share:before {
  content: "\f231";
}

.addthis_toolbox a.addthis_button_pinterest_share:hover{
  color: #C82828;
}

.addthis_toolbox .fa-circle {
  color: #000;
}
.addthis_toolbox .fa-stack a {
  position: absolute;
  left: 0;
  width: 100% !important;
  text-align: center;
  font-size: 1.5em;
}

.addthis_toolbox .fa-stack {
  width: 3em;
  height: 3em;
  line-height: 3em;
}
.addthis_toolbox .fa-stack-3x {
  font-size: 3em;
}
/*****************************************************************************************/

/************************************Inner Content*****************************************/
.inner-content {
  color: #9D9EA0;
}

.inner-content .date {
  color: #000;
}

.inner-content .title, .search-title {
  color: #6B6B6B;
  text-transform: uppercase;
  font-size: 3em;
  font-family: FjallaOne-Regular;
}

.author-img {
  margin-right: 0;
}

.author-name {
  color: #85B801;
  padding-top: 30px;
}

.tag-list dt {
  float: left;
  color: #4C4C4C;
  margin-right: 5px;
  text-transform: uppercase;
}
.tag-list dd a {
  color: #C1C1C1;
  text-transform: uppercase;
}

dl.tag-list {
  margin-top: 30px;
  font-family: FjallaOne-Regular;
  font-size: 0.9rem;
  letter-spacing: 1px;
}

.inner-text p {
  color: #3D4049;
  font-size: 1.3rem;
}
/********************************Comments***************************************/
.comment-wrapper h2 {
  font-size: 1.8rem;
  font-family: 'FjallaOne-Regular';
  color: #6B6B6B;
  margin-top: 15px;
}

#submitcomment {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 10px 30px;
  border-radius: 3px;
  float: right;
  font-size: 1.1em;
  cursor: pointer;
}
ol.commentlist, ol.commentlist ol.children {
  list-style: none;
}

.author-comment-name {
  color: #3D4047;
  font-size: 1.2rem;
}

.commentlist  article {
  padding-bottom: 40px;
  margin-bottom: 30px;
}

.commentlist > li > article {
  border-bottom: 1px solid #ddd;
}

ol.commentlist ol.children article {
  border-left: 3px solid #85B801;
  padding-left: 20px;
  margin-left: 30px;
}

.full-width.row {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  max-width: 100%;
}
.related-wrap {
  background-color: #F5F5F5;
  padding: 40px 70px;
}

.related-wrap .related-article {
  width: 100%;
}
.related-wrap .yarpp-related {
  text-align: center;
  margin: 0;
}
.related-wrap .yarpp-related h3 {
  color: #6A6A6A;
  font-size: 2rem;
  font-family: FjallaOne-Regular;
  text-transform: none;
  font-weight: normal;
}

.related-wrap .related-article img {
  height: 160px;
}

.related-wrap .related-article .read {
  text-transform: uppercase;
}

.related-wrap .excerpt {
  height: 80px;
}

/*************************Search************************/
.results-list {
  padding-bottom: 40px;
}
/*******************************************************/
/*********************Media Queries*********************/
/*Small screens*/
@media screen and (max-width: 650px) {

  .no-padding-for-small {
    padding: 0;
  }

  .floated-sidebar {
    display: none;
  }

  footer {
    display: none;
  }

  .head-container {
    display: none;
  }

  .masonry-entry {
    width: 100%;
    margin-left: 0;
    border-radius: 0;
    box-shadow: none;
  }

  .masonry-entry:first-child {
    margin-top: 0;
  }

  .masonry-entry img {
    border-radius: 0;
  }

  .small-collapse, .small-collapse .columns {
    padding: 0;
    margin: 0;
  }

  .menu-block {
    padding: 0;
  }

  .menu-toggle > label:before {
    content: '\f0c9';
    font-family: FontAwesome;
    font-size: 2em;
    color: #C8C8C8;
  }

  .menu-toggle > label {
    margin-top: 1rem;
  }

  input.dropdown-checkbox {
    display: none;
  }


  .small-collapse .blog-title {
    margin-top: 1.5rem;
    color: #6C6C6C;
    text-align: center;
    font-weight: bold;
    font-size: 1.15em;
  }

  .dropdown-nav {
    position: absolute;
    width: 100%;
    background: #F7F7F7;
    top: 61px;
    left: 0;
    overflow-y: scroll;
    max-height: 0vh;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    -webkit-transition: 1s;
    transition: 1s;
  }

  .dropdown-nav ul {
    margin: 0 50px 20px;
  }

  .dropdown-nav ul .widget select {
    margin: 5px 0;
  }

  .dropdown-nav ul li.widget {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
  }

  .dropdown-nav .widget .widgettitle, .widget .widgettitle label {
    text-transform: none;
    font-size: 1.1rem;
    margin-top: 5px;
  }

  input.dropdown-checkbox:checked ~ div {
    max-height: 80vh;
  }

  input.dropdown-checkbox:checked + label:before {
    content: '\f00d';
  }

  .fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: #fff;
    box-shadow: 0 4px 2px -2px gray;
  }

  body {
    margin-top: 65px;
  }

  .container-4 input#search {
    width: 100%;
    margin: 10px 0;
  }

  .container-4 button.icon {
    margin-left: -60px;
    margin-top: 10px
  }

  .dropdown-nav ul li.widget:first-child {
    margin-top: 20px;
  }
  /***********************Mobile Inner*************************/

  .header-inner {
    margin-bottom: 20px;
  }
  .right-for-small {
    float: right;
  }

  .inner-content p.title {
    font-size: 25px;
  }

  .inner-content .date {
    color: #CDCDCD;
    font-weight: bold;
    font-size: 12px;
    padding-top: 10px;
    display: block;
  }

  .author-img {
    margin-left: 10px;
    padding-right: 0;
  }

  .author-name {
    padding-top: 20px;
  }

  .tag-list dt {
    margin-bottom: 0;
    color: #6C6C6C;
  }

  .inner-text p {
    font-size: 12px;
    color: #A4A4A4;
  }

  ol.commentlist {
    margin-left: 0;
  }

  .related-wrap {
    padding: 1.2rem 0;
  }

  .related-wrap .excerpt {
    height: auto;
  }

  .related-article {
    margin: 0;
  }

  .related-wrap .related-article img {
    height: auto;
    border-radius: 0;
  }

  .related-article {
    border: none;
    background: #fff;
    padding: 10px;
    box-shadow: none;
    margin-bottom: 15px;
  }

  .related-article h4 {
    font-size: 0.8rem;
    padding: 0;
    color: #5C5C5C;
    margin-bottom: 0;
    text-align: left;
  }

  .related-article p {
    font-size: 0.65rem;
    margin-bottom: 0;
    padding: 0;
    text-align: left;
  }

  .related-article .text-wrap {
    padding-left: 0.6rem;
  }

  .related-article .related-time {
    font-weight: bold;
    font-size: 0.7rem;
    color: #bbb;
  }

  .related-wrap .yarpp-related h3 {
    font-size: 1.6rem;
    text-transform: capitalize;
    text-align: left;
    padding-left: 0.9375rem;
  }

  .author-comment-name {
    font-size: 0.9rem;
    font-weight: bold;
    display: inline;
  }

  .comment-time {
    display: inline-block;
  }

  .comment-body p {
    font-size: 12px;
    margin-bottom: 0.4rem;
  }

  .commentlist article {
    padding-bottom: 10px;
    margin-bottom: 10px;
  }

  .comment-body .reply a {
    font-size: 14px;
  }

  .comment-wrapper textarea {
    height: 20px;
  }

  #submitcomment {
    color: #9BC33A;
    background-color: #fff;
    border: none;
    float: right;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.8rem;
  }

  .mobile-share {
    float: left;
    font-size: 1.6rem;
    font-family: FjallaOne-Regular;
    color: #6A6A6A;
    padding-top: 11px;
  }

  .mobile-share-wrap .addthis_toolbox .fa-stack-3x{
    font-size: 2.8em;
  }
  .mobile-share-wrap .addthis_toolbox .fa-stack {
    width: 2.8em;
    height: 2.8em;
    line-height: 2.8em;
  }

  .mobile-share-wrap .fa-stack a {
    font-size: 1.5em;
  }

  .fa-stack.add-gpluss .fa-circle {
    color: #FE432C;
  }

  .fa-stack.add-pinterest .fa-circle {
    color: #C82828;
  }

  .fa-stack.add-twitter .fa-circle {
    color: #00CBFE;
  }

  .fa-stack.add-fb .fa-circle {
    color: #225899;
  }

  .back-link {
    color: #82B300;
    margin-top: 20px;
    display: inline-block;
    font-size: 1.2rem;
  }

  .search-title {
    text-align: center;
    font-size: 23px;
  }

  .results-list {
    padding: 15px !important;
  }
} /* Define mobile styles */

@media only screen and (max-width: 40em) { } /* max-width 640px, mobile-only styles, use when QAing mobile issues */

/*// Medium screens*/
@media only screen and (min-width: 40.063em) { } /* min-width 641px, medium screens */

@media only screen and (min-width: 40.063em) and (max-width: 64em) { } /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */

/*// Large screens*/
@media only screen and (min-width: 64.063em) { } /* min-width 1025px, large screens */

@media only screen and (min-width: 64.063em) and (max-width: 90em) { } /* min-width 1025px and max-width 1440px, use when QAing large screen-only issues */
